.ant-drawer-wrapper-body{
    // background: #FAFAFA;
    background: #121829;
}

.ant-menu-root.ant-menu-vertical, .ant-menu-root.ant-menu-vertical-left, .ant-menu-root.ant-menu-vertical-right, .ant-menu-root.ant-menu-inline {
   background: #FAFAFA;
  background: #121829;
  border: none;
}

.ant-menu-inline.ant-menu-root .ant-menu-item, .ant-menu-inline.ant-menu-root .ant-menu-submenu-title{
  background: transparent;
}

.ant-menu-title-selected {
color: #1890ff !important;}

.ant-menu-item-selected {
    color: #1890ff !important;}

.ant-drawer-header{
  border: none;
}

.ant-drawer-close,.ant-drawer-title {
  color: #B9C7D5;
  &:hover{
    
    color: #B9C7D5;
  }
}

// .ant-menu-title-content{
//   color: #B9C7D5;

// }

.ant-menu-item{
    color: #B9C7D5;
}

.ant-menu-overflow {
    display: flex;
    justify-content: flex-end;
    // gap: 0 16px
    text-align: left;
    width: 90%;
    // change left padding of menu
    // padding: 16px 20px 16px 120px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #A8AEBF;
    border: none;
    background:#121829;

}

.ant-menu-overflow.ant-menu.ant-menu-root.ant-menu-horizontal.ant-menu-light{
  background: inherit;
}

.anticon {
width: 25px;
}

.ant-menu-item .ant-menu-item-icon + span, .ant-menu-submenu-title .ant-menu-item-icon + span, .ant-menu-item .anticon + span, .ant-menu-submenu-title .anticon + span {
    margin-left: 10px;
    opacity: 1;
    transition: opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), margin 0.3s, color 0.3s;
    position: relative;
    top: -17px;
    font-weight: 600;
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu {
    margin-top: -1px;
    margin-bottom: 0;
    padding: 0px 16px;
}


@media screen and (max-width: 790px) {
.ant-menu-item .ant-menu-item-icon + span, .ant-menu-submenu-title .ant-menu-item-icon + span, .ant-menu-item .anticon + span, .ant-menu-submenu-title .anticon + span {
    top: -14px;
}
}

@media screen and (max-width: 412px) {
  .ant-drawer-content-wrapper{
  width: 100% !important;
  }
}




